.contact {
	margin-top: 20px;

	p {
		color: rgba(0,0,0,0.67);
		font-weight: 700;
		font-size: 1.7rem;
		text-align: center;
	}

	a {
		color: $primaryColour;
	}

	&:before {
		content: "";
		display: block;
		width: 50%;
		height: 1px;
		background-color: $primaryColour;
		position: relative;
		top: -50%;
		margin: 0 auto;
	}
}