.home	.hero {
	background-image: url("../images/placeholder.png");
}

.about .hero, .contactPage .hero {
	background-image: url("../images/Apple-Cherry-Prof-618x380.jpg");
}

.advisors .advisor {
	margin: 20px auto;
}

.contactPage {
	& .wrapper {
		margin: 20px auto;
	}
}

.contactPage__advisors > div {
	margin: 10px auto;
}

.logo, .hero {
	background-size: contain;
	background-repeat: no-repeat;

	img {
		visibility: hidden;
	}
}

.logo {
	background-image: url("../images/chronicle-financial-300dpi.png");
	background-position: center top;
	max-width: 90%;
}

.hero {
	margin: 10px 0;
}

footer {
	border-top: 1px solid black;
	padding-top: 20px;

	p {
		font-size: 1rem;
	}
}
