.container {
	background-image: url("../images/underconstruction-01.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	max-height: 100vh;
	max-width: 100vw;
	

	img {
		visibility: hidden;
		max-height: 100vh;
		margin: 0 auto;
		display: block;
	}
}

body {
	background: none;
}
